-var menu = [{name:'Главная', link:'/'}, {name:'Услуги', link:'#services'}, {name:'Отзывы', link:'#testimonials'}, {name:'Контакты', link:'#map'}, {name:'Блог', link:'/blog.html'}]

mixin main-nav()
    +b.NAV.main-nav
        +e.UL.list
            for item in menu
                +e.LI.item
                    +e.A.link(href=item.link) #{item.name}
